# [file name]: render.yaml
# [file content begin]
services:
  - type: web
    name: yaradiobot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: TELEGRAM_BOT_TOKEN
        value: 8281804030:AAEFEYgqigL3bdH4DL0zl1tW71fwwo_8cyU
      - key: ADMIN_TELEGRAM_ID
        value: 174046571
# [file content end]
