services:
  # Web Application (Static Site)
  - type: web
    name: telegram-radio-webapp
    env: static
    buildCommand: ""  # Пустая команда
    staticPublishPath: ./webapp

  # Telegram Bot (Python Backend)
  - type: web
    name: telegram-radio-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: RENDER
        value: true
      - key: RENDER_SERVICE_NAME
        fromService:
          name: telegram-radio-webapp
          type: web
          property: hostname
