# [file name]: render.yaml
# [file content begin]
services:
  - type: web
    name: yaradiobot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: TELEGRAM_BOT_TOKEN
        fromSecret: true
      - key: ADMIN_TELEGRAM_ID
        fromSecret: true
# [file content end]
